
-if DiningPartnersWeb::Application.config.guests > 0
  %h1 New Guests (table 8)
  .row-fluid
    .span2
      %img{ src: '/Will.png'}
    .span10
      %ul.list-group
        %li.list-group-item
          %a.btn.btn-mini.btn-square.btn-danger
            %i.fa.fa-check
          Gluten free
        %li.list-group-item
          %a.btn.btn-mini.btn-square.btn-danger
            %i.fa.fa-hand-o-right
          Nut allergy
        %li.list-group-item
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Business setting
        %li.list-group-item
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Prefers booths
        %li.list-group-item
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Prefers uninterrupted dining
        %li.list-group-item
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Bottled water
  %hr/

  .row-fluid
    .span2
      %img{ src: '/Anne.png'}
    .span10
      %ul
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Likes fine wines
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Likes to know about off-menu specials
  %hr/


  .row-fluid
    .span2
      %img{ src: '/Graham.png'}
    .span10
      %ul
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Vegan
  %hr/

  .row-fluid
    .span2
      %img{ src: '/Chenai.png'}
    .span10
      %ul
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Low calorie

        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          No dessert menu
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          No bread basket
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          No drinks menu
  %hr/


  .row-fluid
    .span2
      %img{ src: '/Annie.png'}
    .span10
      %ul
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Seashell allergy
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Likes to try new things
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          Interested in beer
        %li
          %a.btn.btn-mini.btn-square
            %i.fa.fa-check
          High protein (Atkins diet)
  %hr/



-else
  %h1 Waiting for guests to arrive
