

%section.container-fluid
.row-fluid
  .span12
    %h1 Dining&nbsp;.&nbsp;Partners
%hr/
.row-fluid
  .span6
    %h2
      %i.micon-user-2
      For Diners

    .row-fluid
      .span2
        %a.knob-wrapper.knob
          %span.knob-inner
            %i.micon-user-2
            %small Fewer Questions
      .span4
        %p Some things are just meant to be
  .span6
    %h2
      %i.icon-food
      For Restaurants
    .row-fluid
      .span2
        %a.knob-wrapper.knob-primary
          %span.knob-inner
            %i.icon-gift
            %small Diner preferences
      .span4
%hr/