

%section.container-fluid
.row-fluid
  .span12
    %h1 Dining&nbsp;.&nbsp;Partners
%hr/
.row-fluid
  .span6
    %h2
      %i.micon-user-2
      For Diners

    .row-fluid
      .span2
        %a.knob-wrapper.knob-default
          %span.knob-inner
            %i.icon-user
            %small Fewer Questions
      .span4
        %p
          Lets the restaurant know about the thing you want to eat and what you can't or won't eat.
  .span6
    %h2
      %i.icon-food
      For Restaurants
    .row-fluid
      .span2
        %a.knob-wrapper.knob-primary
          %span.knob-inner
            %i.icon-gift
            %small Diner preferences
      .span4
        %p
          Real time access to diner preferences when you need them.
%hr/
.row-fluid
  .span1
    %img{ src: 'http://pocketnow.com/wp-content/uploads/2013/10/ibeacon.jpg'}
  .span2
    %p{align: 'center'}
      Your smartphone knows when you are there - you choose to share your profile and your mood.
  .span3
    %p{align: 'center'}
      Your profile knows what you like to eat and drink. It also says what you don't like or can't eat.
    %hr/
  .span1
    %img{ src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4ovfFlu1DccweuKgHrhPeiVRuqj3t6FeSPmrJLKw23ecqpPV9'}
  .span2
    %p{align: 'center'}
      Your profile preferences are shared along with your profile image. Improved service...!

