

%section.container-fluid
.row-fluid
  .span12
    %h1 Dining&nbsp;.&nbsp;Partners
%hr/
.row-fluid
  .span6
    %h2
      %i.micon-user-2
      For Diners

    .row-fluid
      .span2
        %a.knob-wrapper.knob-default
          %span.knob-inner
            %i.icon-user
            %small Fewer Questions
      .span4
        %p
          Lets the restaurant know about the thing you want to eat and what you can't or won't eat.
  .span6
    %h2
      %i.icon-food
      For Restaurants
    .row-fluid
      .span2
        %a.knob-wrapper.knob-primary
          %span.knob-inner
            %i.icon-gift
            %small Diner preferences
      .span4
        %p
          Real time access to diner preferences when you need them.
%hr/